* {
  margin: 0;
}


.batman {
  background: url(../img/batkid.jpg) no-repeat center center fixed;
  background-position: 0% 75%;
  background-color: #fbe440;
  background-size: contain;
}

/*#accordion {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 90%, 0% 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 90%, 0% 75%, 0 0);
}*/

.poly1, .poly2, .poly3 {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 85%, 0% 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 85%, 0% 75%, 0 0);
  /*border: 5px solid white;*/
}

#accordion {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 95%, 0% 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 95%, 0% 75%, 0 0);
}

.poly1 {
  min-height: 600px;
  width: 400px;
  position: absolute;
  top: 0;
  right: 90px;
  background-color: black;
  opacity: .78;
}

.poly2 {
  min-height: 590px;
  width: 380px;
  position: absolute;
  top: 0;
  right: 10px;
  background-color: #fbe440;
}

.poly3 {
  min-height: 588px;
  width: 375px;
  position: absolute;
  top: 0;
  right: 2px;;
  background-color: black;
}

/*** COLLAPSE MENU CONSTRUCTION ***/


#accordion {
  width: 400px;
  background-color: black;
  background-image: none;
  border: none;
}

#headingOne {
  background-image: none;
  background: none;
  background-color: yellow;
  border: none;
  width: 400px;
}

.panel, .panel-heading, .panel-default, .panel-title {
  border: none;
  border-radius: none;
  background-image: none;
  /*background-color: black;*/
}

#accordion {
  position: absolute;
  top: 218px;
  right: 90px;
}


















/*#accordion, .panel {
  position: absolute;
  top: 100px;
  width: 400px;
  border: transparent;
}*/
